<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Aspect.Java"
            id="edu.spsu.aspectjava">
      </category>
      <view
            name="Aspect.Java Framework"
            icon="icons/aspect.java.gif"
            category="edu.spsu.aspectjava"
            class="edu.spsu.aspectjava.views.AspectJavaView"
            id="edu.spsu.aspectjava.views.AspectView">
      </view>
   </extension>

</plugin>
